<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		
		<add name="conexiondb" connectionString="Data Source=192.168.1.6;Initial Catalog=PROFIL_TEST_30_10_24;Integrated Security=False;User ID=sa; Password=cuerda$12" providerName="System.Data.SqlClient" />


	</connectionStrings>
	
</configuration>